[Unit]
Description=Re-inject Pi-hole HA page after Pi-hole update

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/pihole-ha-inject
